<mat-toolbar color="primary">
    
    <mat-toolbar-row>
        <a href="https://xd.adobe.com/view/8040868e-09aa-4eed-57da-19cac75cac2f-f671/?fullscreen"><span>Parents Register</span></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a href="https://xd.adobe.com/view/fd59992b-0fc7-44da-7fd4-edf0b4d0df5c-8b68/?fullscreen"><span>Organisers</span></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a href="https://xd.adobe.com/view/42c946bb-7171-45db-7be3-e679516c2d53-34f8/?fullscreen"><span>Dashboard</span></a>
    </mat-toolbar-row>
</mat-toolbar>
<a ng-href="http://localhost:4200" class="navbar-item">
    <img width="300px" height="100px" src="assets/img/angular-logo.png">
  </a>